.addJobAdvertisementButton{
    margin-top: 2em !important;
    border-radius: 8px !important;
    text-align: center;
}

.AddJobAdvertisementContainer{
    background-color: #343a40;
    padding: 2em;
    border-radius: 8px;
    margin-top: 40px;
}