.Header{
    margin-left: 42.5% !important;
    margin-right: 42.5% !important;
}

.Button{
    margin-top: 2em !important;
    border-radius: 8px !important;
    font-size: large !important;
}

.AddJobAdvertisementContainer{
    background-color: #343a40;
    padding: 2em;
    border-radius: 8px;
}