.cvContainer{
    color: white;
    background-color: #343a40;
    border-radius: 8px;
    padding: 2em;
}

.cvSegment{
    color: white;
    background-color: #343a40;
    border-radius: 8px;
    padding: 2em;
}